.typist-grid {
    @apply grid gap-4;

    .typist-grid-column {
        > * + * {
            margin-block-start: 1rem;
        }
    }
}

@media (max-width: theme('screens.sm')) {
    .typist-grid[data-stack-at="sm"] {
        grid-template-columns: 1fr !important;

        .typist-grid-column {
            grid-column: span 1 !important;
        }
    }
}

@media (max-width: theme('screens.md')) {
    .typist-grid[data-stack-at="md"] {
        grid-template-columns: 1fr !important;

        .typist-grid-column {
            grid-column: span 1 !important;
        }
    }
}

@media (max-width: theme('screens.lg')) {
    .typist-grid[data-stack-at="lg"] {
        grid-template-columns: 1fr !important;

        .typist-grid-column {
            grid-column: span 1 !important;
        }
    }
}

@container (max-width: theme('screens.sm')) {
    .typist-grid[data-stack-at="sm"] {
        grid-template-columns: 1fr !important;

        .typist-grid-column {
            grid-column: span 1 !important;
        }
    }
}

@container (max-width: theme('screens.md')) {
    .typist-grid[data-stack-at="md"] {
        grid-template-columns: 1fr !important;

        .typist-grid-column {
            grid-column: span 1 !important;
        }
    }
}

@container (max-width: theme('screens.lg')) {
    .typist-grid[data-stack-at="lg"] {
        grid-template-columns: 1fr !important;

        .typist-grid-column {
            grid-column: span 1 !important;
        }
    }
}
